{% extends "base.html" %}
{% load static %}

{% block body_class %}max-w-[960px] min-h-screen mx-auto px-[15px] text-[#231f20] font-sans leading-tight{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% include 'home/welcome_page.html' %}

{% endblock content %}
